.App {
  width: 100vw;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

header {
  height: 1.5em;
  margin: 1em;
}

.header-menu {
  float: right;
}

.App-intro {
  font-size: large;
}

h1.ui.header {
  font-size: 2rem;
}

h2.ui.header {
  font-size: 1.71428571rem;
}

h3.ui.header {
  font-size: 1.28571429rem;
}

h4.ui.header {
  font-size: 1.07142857rem; /* use as page header as well */
}

h5.ui.header {
  font-size: 1rem;
}

.ui.header {
  border: none;
  margin: calc(2rem - .14285714em) 0 1rem;
  padding: 0 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 1.28571429em;
  text-transform: none;
  color: rgba(0,0,0,.87);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.name-container {
  margin-top: 20%;
  text-align: center;
}

footer {
  padding: 1em;
}