.App {
  width: 100vw;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

header {
  height: 2em;
  margin: 1em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.name-container {
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 16rem;
}

footer {
  padding: 1em;
  font-weight: 300;
  text-align: center;
}

.content {
  margin-left: 0;
  margin-top: -1rem;
}

.content .list {
  padding-left: 1rem;
  font-weight: 300;
}

.content .date {
  color: grey;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  background-color: #cbede7;
  box-shadow: 0px 19px 143px rgba(0, 0, 0, 0.2);
}

.header-menu {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem 0 1rem 1rem;
  padding-left: 1rem;
  border-radius: 3rem 0 0 3rem;
  z-index: 500;
}

nav ul li {
  padding: 1rem;
  border-radius: 1rem;
}

nav ul a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}