.experience-container {
  position: relative;
  top: 100%;
}



.carousel {
  margin-bottom: 10em;
  padding-bottom: 4em;
}

.carousel-inner {
  /* width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* min-width: 600px; */
}

.carousel-item {
    padding-left: 20%;

}

.ui.card {
  min-width: 600px;
  padding-left: 20%;
}